body{
    margin-top: 7%;
    background: white;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background: #8b080e;
    color: white;
    padding-bottom: 2px;
    padding-left: 2%;
}
.head{
    padding-top: 0.3%;
    font-size: 1.5rem;
}
.signup-box{
    width: 360px;
    height: 590px;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.signup-box .cis{
    text-align: center;
    font-size: 22px;
    padding-top: 25px;
}
h3{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
    
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 15px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}
input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background:  #9c031d;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
b{
    font-weight: normal;
    color: #8b080e;
}
.register{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
}
.register a{
    color: #9c031d;
    text-decoration: none;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #8b080e;
    color: white;
    text-align: center;
    padding: 1px;
}